@charset "utf-8";
/* CSS Document */

	
	/*mainDIV */
	#main{
		border:0px;
		padding:0px;
		margin:0px auto;
		width:765px;
		height:auto;
	}
		/* mainBannerDIV */
			#banner{
		width:765px;
		height:auto;
		float:left;
		border:#cccccc;
		border-style:solid;
		border-width:1px;
		}
		
		#tb1, #tb2{
			width:765px;
			height:auto;
			background-color:#FFF;
			float:left;
			}
		
		  #tb1 .td1{
			  width:21px;
			  height:447px;
			  }
		  
		  #tb1 .td2{
			  width:67px;
			  text-align:center;
			  border-bottom-color:#cccccc;
			  border-bottom-width:2px;

			  }
			  
		 
		  #tb1 .td3{
			  width:436px;
			  height:41px;
			  padding-left:10px;
			  padding-top:0px;
			  border-bottom-color:#cccccc;
			  border-bottom-width:2px;

			  }
			 #tb1 .height{
				 border-bottom-color:#FFF;
				 border-bottom-style:none;
				 border-bottom-width:0px;
				 }
				
		 #tb1 .font1{
			 font-size:16px;
			 font-family:Comic Sans MS, Times, Monospace;
			 color:#005dc3;
			 font-weight:bold;
			 }
		  #tb1 .font2{
			  font-size:12px;
			  font-family:Comic Sans MS, Times, Monospace;
			  color:#000;
			  }
		  
			#search{
				margin-left:10px;
				}




          #focus1{
			    width:75px;
			    height: 25px;
			    float:right;
			    margin: 10px;
  				background: #3cb0fd;

  				border-radius: 20px;
  				font-family: Arial;
  				color: #ffffff;
  				font-size: 15px;

  				text-decoration: none;
			  }


			  #focus1:hover {
  				background: #4cc792;
  				text-decoration: none;
				}




.a1{
	text-decoration:none;
}

.a3{
	text-decoration:none;
	color:#999999;
}
/*  Word1 */
font.style1{
	font-weight:700;
	color:#555555;
	font-size:16px;
}
/*  Word2 */
font.style2{
	color:#005DC3;
}
/*  Word3 */
font.style4{
	color:#000;
	font-size:14px;
}

hr.h1{
	border-top:1px dotted #79BDD1;
	height:1px; 
	border-bottom-style:none;
}




  
    /* footer*/
	#footer{
		width:765px;
		height:50px;

		margin: 0 auto;
	}



	#footerCopy{
		width:250px;
		height:20px;
		color:#5c4444;
		line-height:20px;
		margin:0px auto;
		text-align:center;
	}
.a2{
	color:#444444;
	text-decoration:none;
}

/*addUserBtn*/
#addUserBtn{
    width:100px;
    height: 25px;
    float:right;
    margin: 10px;
	background: #3cb0fd;
	border-radius: 20px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
  }

#addUserBtn:hover {
	background: #4cc792;
	text-decoration: none;
}

#clearDatabase{
    width:200px;
    height: 25px;
    float:right;
    margin: 10px;
	background: #3cb0fd;
	border-radius: 20px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
  }

#clearDatabase:hover {
	background: #4cc792;
	text-decoration: none;
}
