@charset "utf-8";
/* CSS Document */


	
	/* 内容总容器 mainDIV */
	#main{
		border:0px;
		padding:0px;
		margin:0px auto;
		width:765px;
		height:auto;
	}
		/* mainBannerDIV */
		#banner{
		width:560px;
		height:auto;
		float:left;
		border:#cccccc;
		border-style:solid;
		border-width:1px;
		}

		#tb1{
			width:560px;
			height: auto;
			padding-bottom: 40px;
			background-color:#FFF;
			float:left;
			margin: 0 auto;
			}

		#tb1 tr {
			width: 565px;

		}
		#textfield2{
			width:300px;
			margin-left: 30px;
			height:20px;
		}

		  #tb1 .td1{
			  width:100px;
			  margin-left: 50px;
		}

		  #tb1 .td2{
			  width:67px;
			  text-align:center;
			  border-bottom-color:#cccccc;
			  border-bottom-width:2px;

			  }
		  

		  #tb1 .td3{
			  width:436px;
			  height:41px;
			  padding-left:10px;
			  padding-top:0px;
			  border-bottom-color:#cccccc;
			  border-bottom-width:2px;

			  }
			 #tb1 .height{
				 border-bottom-color:#FFF;
				 border-bottom-style:none;
				 border-bottom-width:0px;
				 }

		 #tb1 .font1{
			 font-size:16px;
			 font-family:微软雅黑;
			 color:#005dc3;
			 font-weight:bold;
			 margin-left: 50px;
			 }
		  #tb1 .font2{
			  font-size:12px;
			  font-family:微软雅黑;
			  color:#000;
			  }
		  #tb2 .form3{
			  text-align:center;
			  margin-top:10px;
			  width:150px;
			  }
		   #tb2 img{
			   margin-left:0px;
			   margin-top:0px;
			   }
			#tb2 .img{
				margin-left:10px;
				margin-top:2px;
				}
			#search{
				margin-left:10px;
				}



		/* mainRightDiv */
		#mainRight{
			padding:0px;
			margin:0px;
			border:0px;
			width:200px;
			height:auto;
			float:right;
			background-color:#E9F4FA;
			padding-bottom:10px;
		}			
			/* mainRightPostionFirstLine DIV */ 
			#mainRightPostionFirstLine{
				width:200px;
				height:117px;
				background-color:#E9F4FA;
				border-bottom:1px solid #A6D3E3;
			}
				/* mainRightFirstLineIcon DIV*/
				#mainRightPostionFirstLineIcon{
					width:48px;
					padding:0px;
					margin-top:10px;
					margin-left:15px;
					border:0px;
					height:48px;
					float:left;
				}
				/*  mainRightFirstLineWord1 DIV*/
				#mainRightPostionFirstLineWord1{
					width:120px;
					height:40px;
					border:0px;
					padding:0px;
					float:right;
					margin-top:10px;
				}
				/* mainRightFirstLineWord2 DIV*/
				#mainRightPostionFirstLineWord2{
					clear:both;
				width:210px;
				height:40px;
				border:0px;
				padding:0px;
				margin-top:10px;
				}				
				/*  mainRightFirstLineWord2 ul */
				#mainRightPostionFirstLineWord2 ul{
					list-style:none;
					margin:0px;
					padding:0px;
				}
				/*  mainRightFirstLineWord2 li */
				#mainRightPostionFirstLineWord2 ul li{
	margin:0px 15px;
	float:left;
				}					
			
			#mainRightPostionFouthLine{
				width:200px;
				padding:0px;
				margin:0px;
				border:0px;
				height:310px;
				background-color:#E9F4FA;
				border-bottom:1px solid #A6D3E3;					
			}	
				/* mainRightPositionThirdLineContent DIV */
				#mainRightPositionFourthLineContent{
					margin-left:15px;
					margin-top:10px;
					padding:0px;
					border:0px;
					width:170px;
					height:25px;
				}
					#textfield1{
						width:120px;
						height:20px;
					}

					#ul2{
						list-style:none;
						margin:0px;
						padding-left:15px;
						
					}



          .focus1{
			    width:107px;
			    height:30px;
			    float:right;
			    margin-right:20px;
  				background: #4cc792;

  				border-radius: 20px;
  				font-family: Arial;
  				color: #ffffff;
  				font-size: 15px;
  				padding: 5px 10px 5px 10px;
  				text-decoration: none;
			  }


			  .focus1:hover {
  				background: #3cb0fd;
  				text-decoration: none;
				}





.a1{
	text-decoration:none;
}

.a3{
	text-decoration:none;
	color:#999999;
}
/*  Word1 */
font.style1{
	font-weight:700;
	color:#555555;
	font-size:16px;
}
/*  Word2 */
font.style2{
	color:#005DC3;
}
/*  Word3 */
font.style4{
	color:#000;
	font-size:14px;
}

hr.h1{
	border-top:1px dotted #79BDD1;
	height:1px; 
	border-bottom-style:none;
}

.a2{
	color:#444444;
	text-decoration:none;
}

