@charset "utf-8";
/* CSS Document */


/* 总容器 container */
#container{
	width:765px;
	height:auto;
	margin:0px auto;
}
	/* 回到顶部 */
	#backtop {
		position:fixed;
		bottom: 0px;
		right:0px;
	}
	/* 回到顶部样式 */
	#backtop a {
		width: 60px;
		display: block;
		text-align: center;
		font-size:11px;
		text-transform: uppercase;
		text-decoration: none;
		color: #bbb;
		/* 背景颜色过渡 */
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	}
	#backtop a:hover {
		color: #000;
	}
	/* 回到顶部按钮(span) */
	#backtop span {
		width: 60px;
		height: 60px;
		display: block;
		margin-bottom: 7px;
		background: #C1E6F5 url(../images/up-arrow.png) no-repeat center center;
		/* 圆角 */
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		/* 背景颜色过渡 */
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	}
	#backtop a:hover span {
		background-color: #B8DDEB;
	}

	/* 上面topDIV */
	#top{
		width:765px;
		height:80px;
		position:relative;
		background-image: url(../images/sky.jpg);
	}
	
	/* top部分的LogoDIV */
	#topLogo{
		width:200px;
		height:80px;
		font-size: 25px;	
		text-align: center;
		padding-top: 30px;
		padding-bottom: 30px;
		color: #1773CE;
	}

	/* top部分的文字导航 */
	#topWordMenu{
		width:330px;
		height:30px;
		position:absolute;
		top:33px;
		left:430px;
	}
		/* top部分的ul */
		#topWordMenu ul{
			margin:0px;
			padding:0px;
			list-style:none;
		}
			/* top部分的li */
			#topWordMenu ul li{
				display:inline;
				/*float:left;*/
				margin:0px 8px;
				font-size: 20px;
			}
			/* top部分的文字链接 */
			#topWordMenu a:link{
				text-decoration:none;
			}
			#topWordMenu a:visited{
				text-decoration:none;
			}
			#topWordMenu a:hover{
				color:green;
				text-decoration:none;
			}


/* 全局设置 */
body{
	font-size:12px;
	font-family:Comic Sans MS, Times, Monospace;
	margin:0px;
	padding:0px;
	background-image:url(../images/bg.gif);
	background-color:#C1E6F5;
	background-repeat:repeat-x;
}

a:link{
	text-decoration:none;
	color:#39F;
}

a:visited{
	text-decoration:none;
	color:#39F;
}
a:hover{
	text-decoration:underline;
	color:#36C;
}