@charset "utf-8";
/* CSS Document */

	
	/* mainDIV */
	#main{
		border:0px;
		padding:0px;
		margin:0px auto;
		width:765px;
		height:auto;
	}
		/* mainBannerDIV */
		#mainBanner{
			border:0px;
			padding:0px;
			margin:0px;
			height:auto;
			width:765px;
			float:left;
			background-color:#FFF;
			padding-bottom:10px;
		}


			
.a1{
	text-decoration:none;
}

.a3{
	text-decoration:none;
	color:#999999;
}
/*  Word1 */
font.style1{
	font-weight:700;
	color:#555555;
	font-size:16px;
}
/*  Word2 */
font.style2{
	color:#005DC3;
}
/*  Word3 */
font.style4{
	color:#000;
	font-size:14px;
}



  
    /* footer*/
	#footer{
		width:765px;
		height:50px;

		margin: 0 auto;
	}
	
	#footerCopy{
		width:250px;
		height:20px;
		color:#5c4444;
		line-height:20px;
		margin:0px auto;
		text-align:center;
	}
.a2{
	color:#444444;
	text-decoration:none;
}

/*save button*/
    #savebtn{
		width:107px;
		height:30px;
	    margin-right:20px;
		background: #3cb0fd;
		border-radius: 20px;
		font-family: Arial;
		color: #ffffff;
		font-size: 15px;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
	  }


	  #savebtn:hover {
		background: #4cc792;
		text-decoration: none;
		}