@charset "utf-8";
/* CSS Document */

	
	/*  mainDIV */
	#main{
		border:0px;
		padding:0px;
		margin:0px auto;
		width:765px;
		height:auto;
	}
		/* mainBannerDIV */
		#mainBanner{
			border:0px;
			padding:0px;
			margin:0px;
			height:auto;
			width:565px;
			float:left;
			background-color:#FFF;
			padding-bottom:10px;
		}
		  #mainBannerTop{
			  width:562px;
			  height:400px;
			  padding:0px;
			  margin:0px;
			  position:relative;
			  background-color:#FFF;
			  }	
			  
			/*id=mainBannerTopIssue */
			#mainBannerTopIssue{
				height:191px;
				width:521px;
				margin:0px;
				padding:0px;
				left:20px;
				top:26px;
				position:absolute;
				}
				/*id=mainBannerTopIssuePoint*/
				#mainBannerTopIssuePoint{
					width:521px;
					margin:0px;
					padding:0px;
					height:37px;
					padding:0px;
					margin:0px;
					font-size:16px;
					}
				/*id=mainBannerTopIssueFrom*/	
				#mainBannerTopIssueForm{
					width:521px;
					height:149px;
					padding:0px;
					margin:0px;
					}
				  /*mainBannerTopIssueFrame*/	
				  #mainBannerTopIssueFrame{
					  width:521px;
					  height:90px;
					  padding:0px;
					  margin:0px;
					  position:relative;
					  }
					  /*mainBannerTopIssueFrame*/	
					  #mainBannerTopIssueFrame .Size{
						  width:521px;
						  height:90px;
						  padding:0px;
						  margin:0px;
						  }
				
				  #mainBannerTopIssueInsert{
					  width:521px;
					  height:29px;
					  }	

					  #mainBannerTopIssueInsert1{
	                      width:14px;
	                      height:15px;
						  background-image:url(../images/Insert1.gif);
						  background-repeat:no-repeat;
						  float:left;
						  margin-left:5px;
						  margin-top:5px;
					  }

					  #mainBannerTopIssueInsert2{
	                      height:15px;
	                      width:55px;
						  float:left;
						  line-height:15px;
						   margin-top:5px;
					  }

					  #mainBannerTopIssueInsert3{
						   height:15px;
						   width:12px;
						   background-image:url(../images/Insert2.gif);
						   background-repeat:no-repeat;
						   float:left;
						   margin-left:5px;
						   margin-top:5px;
						  }

					  #mainBannerTopIssueInsert4{
	                       height:15px;
	                       width:49px;
						   float:left;
						   line-height:15px;
						    margin-top:5px;
							margin-left:5px;
						  }
					
						  #mainBannerTopIssueInsert5{
							  margin-left:5px;
							  width:17px;
							  height:16px;
							  background-image:url(../images/biaoqing/biaoqing_bg.gif);
							  margin-top:5px;
							  float:left;
						  }
					
						  #mainBannerTopIssueInsert6{
							  margin-left:5px;
							  margin-top:5px;
							  float:left;
						  }
					  
			
				  #mainBannerTopIssueSure{
					  width:521px;
					  height:30px;
					  margin:0px;
					  padding:0px;
					  position:relative;
					  text-align:right;
					  }
					  
		#mainBannerTitle{
			width:562px;
			padding:0px;
			margin:0px;
			height:56px;
			position:relative;
			}
			
		    #mainBannerTitleWord{
			    width:32px;
			    height:15px;
			    font-size:15px;
			    padding:0px;
			    margin:0px;
			    position:absolute;
				top:29px;
				left:20px;
			    }	
			
			#mainBannerTitleWord2{
				width:80px;
				height:20px;
				padding:0px;
				margin:0px;
				left:473px;
				top:32px;
				position:absolute;
				display:none;
				}		
	      
	      #mainBannerContent{
				  width:480px;
				  height:auto;
				  margin:0px auto;
				  margin-top:10px;
				  border-top:1px #dddddd solid;
				  position:relative;
			  }
			
			 #mainBannerContent .stateShow{
				width:480px;
				height:auto;
				padding-top:5px;
				margin:0px auto;
				border-bottom:1px #ccc dotted;
				padding-bottom:5px;
			}
			
			#mainBannerContent .stateRshow{
				width:410px;
				height:auto;
				padding-top:5px;
				margin:0px auto;
				border-bottom:1px #ccc dotted;
				padding-bottom:5px;
			}
			
		
		#mainBannerContent img{
			margin-top:3px;
			border:2px solid #ccc;
		}
		
		#mainBannerContent td a:link{
			color:#005dc3;
			text-decoration:none;
			font-weight:bold;
		}
		
		#mainBannerContent td a:hover{
			color:#005dc3;
			text-decoration:underline;
			font-weight:bold;			
		}
		#mainBannerContent td a:visited{
			color:#005dc3;
			text-decoration:none;
			font-weight:bold;			
		}

		#mainBannerContent .stateShowtime{
			margin-top:5px;
			color:#999999;
			margin-left:70px;
			display:inline;
		}

			#mainBannerContent .stateRshowtime{
				margin-top:5px;
				color:#999999;
				margin-left:70px;
				display:inline;
			}

			#mainBannerContent .huifu{
				width:410px;
				margin-left:70px;
				padding-top:10px;
				border-top:1px #dddddd dotted;
			}

			#mainBannerContent .stateTable{
				table-layout:fixed;
				word-wrap:break-word;
			}

			#mainBannerContent .stateShowWord{
				width:450px;
			}

			#mainBannerContent .stateRshowWord{
				width:380px;
			}
			

			#mainBannerContent .stateRshowWord img{
				border:none;
			}

			#mainBannerContent .stateShowWord img{
				border:none;
			}

			#mainBannerContent .stateImgShow{
				padding-left:70px;
			}

			#mainBannerContent .stateRimgShow{
				padding-left:70px;
			}

			#mainBannerContent .stateOp{
				float:right;
				text-align:right;
				/*visibility:hidden;*/
				color:#969696;
			}
			
			.stateOp a{
				margin:0px 10px;
				cursor:hand;
			}
			a.opState:link{
				color:#969696;
				text-decoration:none;
			}
		    a.opState:hover{
				color:#0CF;
				text-decoration:underline;
			}
			a.opState:visited{
				color:#969696;
				text-decoration:none;
			}
			    

.textright{	
	float:right;
	width:auto;
	height:auto;
}

						 

		#mainRight{
			padding:0px;
			margin:0px;
			border:0px;
			width:200px;
			height:auto;
			min-height: 520px;
			float:right;
			background-color:#E9F4FA;
			padding-bottom:10px;
		}			
			/* mainRightPostionFirstLine DIV */ 
			#mainRightPostionFirstLine{
				width:200px;
				height:150px;
				background-color:#E9F4FA;
				border-bottom:1px solid #A6D3E3;
			}
				/* mainRightFirstLineIcon DIV*/
				#mainRightPostionFirstLineIcon{
					width:48px;
					padding:0px;
					margin-top:10px;
					margin-left:15px;
					border:0px;
					height:48px;
					float:left;
				}
				/* mainRightFirstLineWord1 DIV*/
				#mainRightPostionFirstLineWord1{
					width:120px;
					height:40px;
					border:0px;
					padding:0px;
					float:right;
					margin-top:10px;
				}
				/* mainRightFirstLineWord2 DIV*/
				#mainRightPostionFirstLineWord2{
					clear:both;
				width:210px;
				height:40px;
				border:0px;
				padding:0px;
				margin-top:10px;
				}				
				/*  mainRightFirstLineWord2 ul*/
				#mainRightPostionFirstLineWord2 ul{
					list-style:none;
					margin:0px;
					padding:0px;
				}
				/*  mainRightFirstLineWord2 li */
				#mainRightPostionFirstLineWord2 ul li{
					margin:0px 15px;
					float:left;
				}		

				/* follow user btn*/
				#mainRightPostionFirstLineWord3 {
					text-align: center;

				}			
			
			/* mainRightPostionFourthLine DIV */ 
			#mainRightPostionFouthLine{
				width:200px;
				padding:0px;
				margin:0px;
				border:0px;
				height:318px;
				background-color:#E9F4FA;
				border-bottom:1px solid #A6D3E3;					
			}	
				/* mainRightPositionThirdLineContent DIV */
				#mainRightPositionFourthLineContent{
					margin-left:15px;
					margin-top:10px;
					padding:0px;
					border:0px;
					width:170px;
					height:25px;
				}
					#textfield1{
						width:120px;
						height:20px;
					}
					/* ul */
					#ul2{
						list-style:none;
						margin:0px;
						padding-left:15px;
						
					}
			

.a1{
	text-decoration:none;
}

.a3{
	text-decoration:none;
	color:#999999;
}
/*  Word1 */
font.style1{
	font-weight:700;
	color:#555555;
	font-size:16px;
}
/*  Word2 */
font.style2{
	color:#005DC3;
}
/*  Word3 */
font.style4{
	color:#000;
	font-size:14px;
}

hr.h1{
	border-top:1px dotted #79BDD1;
	height:1px; 
	border-bottom-style:none;
}

#recieve{
	visibility:hidden;
	background-attachment:scroll;
	width:540px;
	height:195px;
	position:absolute;
	z-index:2;
	background-color:#474747;
	color:#000000;
	top: 52px;
	left: -31px;	
}

	#ff{
		margin-top:10px;
		margin-left:5px;
	}

	#wt{
		height:120px;
		width:528px;
		margin-top:41px;
		margin-left:6px;
		margin-bottom:11px;
		background-color:#FEFEFE;
	}
	#rewt{
		height:120px;
		width:450px;
		margin-top:41px;
		margin-left:6px;
		margin-bottom:11px;
		background-color:#FEFEFE;
	}

	#ta1{
		text-align:left;
		margin-left:50px;
		margin-top:14px;
		width:450px;
		height:60px;
	}

	#sub1{
		border:0px;
		background-color:#1A90CE;
		width:80px;
		height:33px;
		border-right:1px solid #196DC8;
		
	}
  
    /* foote*/
	#footer{
		width:765px;
		height:50px;
		border:1px solid #ccc;
		margin: 0 auto;
	}


	#footerCopy{
		width:250px;
		height:20px;
		color:#5c4444;
		line-height:20px;
		margin:0px auto;
		text-align:center;
	}
.a2{
	color:#444444;
	text-decoration:none;
}

/*save button*/
    .btn{
		width:150px;
		height:30px;
		background: #3cb0fd;
		border-radius: 20px;
		font-family: Arial;
		color: #ffffff;
		font-size: 15px;
		padding: 5px 10px 5px 10px;
		text-decoration: none;
	  }


	  .btn:hover {
		background: #4cc792;
		text-decoration: none;
		}




